################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyPhoneInfo/.vs/MyPhoneInfo/v15
/MyPhoneInfo/MyPhoneInfo/bin
/MyPhoneInfo/MyPhoneInfo/obj
/MyPhoneInfo/MyPhoneInfo/replay_pid15008.log
/MyPhoneInfo/MyPhoneInfo/hs_err_pid15008.log
